.hidden {
  display: none;
}

body {
  font-family: Noto Sans CJK KR, NanumGothic, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
}

#extension-root {
  z-index: 999;
}

.preview_article {
  margin-top: 100px;
  width: auto;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.85);
  backdrop-filter: blur(5px) saturate(150%);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 16px;
}

.member_plate {
  color: rgb(38, 38, 38);
  text-decoration: none;
  vertical-align: middle;
}

.level {
  width: 25px;
  height: 25px;
}

.member_plate img {
  vertical-align: middle;
}

div.side {
  display: inline-block;
}

.fr {
  font-size: 13px;
}

#extension-root {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  background-color: rgba(221, 221, 221, 0.6) !important;
}

li.fdb_itm {
  display: block;
}

.nocomment {
  text-align: center;
  font-size: 13px;
  color: #454545;
}

.fdb_itm > i.re {
  left: -5px !important;
}
