.hidden {
  display: none;
}

#extension-root {
  z-index: 999;
}

.preview_article {
  background-color: white;
  margin-top: 100px;
  width: auto;
  border-radius: 10px;
}

.member_plate {
  color: rgb(38, 38, 38);
  text-decoration: none;
  vertical-align: middle;
}

.level {
  width: 25px;
  height: 25px;
}

.member_plate img {
  vertical-align: middle;
}

div.side {
  display: inline-block;
}

.fr {
  font-size: 13px;
}

#extension-root {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

li.fdb_itm {
  display: block;
}

.nocomment {
  text-align: center;
  font-size: 13px;
  color: #454545;
}
